@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Temu Brand Colors */
    --color-primary: #fb7701;
    --color-primary-dark: #e06900;
    --color-secondary: #fff;
    --color-accent: #be0000;
    /* Urgency Red */
    --color-text-main: #191919;
    --color-text-sub: #777777;
    --color-bg: #f5f5f5;
    --color-border: #e6e6e6;

    /* Telegram Safe Areas */
    --tg-safe-area-top: 0px;
    --tg-safe-area-bottom: 0px;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text-main);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    padding-bottom: calc(50px + var(--tg-safe-area-bottom));
    /* Space for bottom nav */
}

/* Utility to hide scrollbar but keep functionality */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@layer utilities {
    .text-xs-tight {
        font-size: 0.65rem;
        line-height: 1;
    }
}

.animate-bounce-slight {
    animation: bounce-slight 2s infinite;
}

@keyframes bounce-slight {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}